azure-core==1.34.0
azure-functions==1.19.0
azure-identity==1.16.0  # Fundamental
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==43.0.3
idna==3.10
# msal==1.25.0  <--- COMENTADA O ELIMINADA
pycparser==2.22
PyJWT==2.10.1
requests==2.31.0 # Necesaria para la acción de prueba
six==1.17.0
typing_extensions==4.13.2
urllib3==2.4.0